body {
    background-color: white;
}

#main-container {
    background-color: white;
    margin: 100px;
    padding: 0px;
    position: relative;
}

#top-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: lightblue;
    clip-path: polygon(0 0, 100% 0%,100% 60%, 0% 100%);

}

#intro-container {
    position: absolute;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: lightblue;
    clip-path: polygon(0 0, 100% 0%,100% 60%, 0% 100%); */
    /* background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(255, 255,255,1) 70%); */
    justify-content: center;
}

#intro-description{
    margin-top: 40px;
    border: solid;
    background-color: white;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
}

#intro-photo {
    margin-top: 40px;
}

#about-me-text{
    font-size: 20px;
    font-weight: 100;
}

#my-work-title{
    position: absolute;
    top: 620px;
    background-color: blue;
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-container {
    /* margin-top: 700px; */
    position: absolute;
    top: 700px;
    display: grid;
    /* background-color: white; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    /* width: 300px;
    border-radius: 20px;
    padding: 10px; */
} 

.my-projects {
    border: solid;
    border-radius: 20px;
}

.project-screenshots {
    border-radius: 15px 15px 0 0;
    /* height: 200px; */
    width: 100%; 
    height: 200px;
    /* object-fit: cover; */
}

.links {
    width: 20px;
    display: flex;
    margin-right: 20px;
}

.project-title, .project-description, .links {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.project-description {
   font-weight: 200; 
}

.my-project-headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-container {
 background-color: lightblue;
}