body {
    background-color: gray;
}

#main-container {
    background-color: white;
    margin: 100px;
    padding: 20px;
}

#intro-container {
    display: grid;
    /* grid-column: 1fr 1fr 1fr 1fr; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* width: 300px;
    border-radius: 20px;
    padding: 10px; */
} 

.my-projects {
    border: solid;
    border-radius: 20px;
}

.project-screenshots {
    border-radius: 15px 15px 0 0;
    /* height: 200px; */
    width: 100%; 
    height: 200px;
    /* object-fit: cover; */
}

.links {
    width: 20px;
    display: flex;
    margin-right: 20px;
}

.project-title, .project-description, .links {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.project-description {
   font-weight: 200; 
}

.my-project-headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-container {
 background-color: lightblue;
}